:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dkblue: hsl(234, 12%, 34%);
    --grayblue: hsl(229, 6%, 66%);
    --lightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    
    font-size: 0.9375rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

body, .main {
    background-color: var(--lightgray);
}

body {
    height: 100%;
}

/* MOBILE FIRST */

h1 {
    font-weight: 200;
}

h1, h2, h3 {
    color: var(--dkblue);
}


h3 {
    font-size: 1.15rem;

}

p {
    color: var(--grayblue);
    font-size: 0.95rem;
    margin-top: 5px;
}

.detail {
    font-size: 1rem;
    margin-top: 10px;
    
}

.container {
    width: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
    height: 100%;
    flex: 1;
}

section {
    background-color: var(--white);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

h1, h2 {
    letter-spacing: 1px;
}


.one, .two, .three, .four {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.one {
    border-top: 3px solid var(--cyan);
}

.two {
    border-top: 3px solid var(--red);
}

.three {
    border-top: 3px solid var(--orange);
}

.four {
    border-top: 3px solid var(--blue);
}

img {
    float: right;
    width: 50px;
    padding: 5px;
}