:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dkblue: hsl(234, 12%, 34%);
    --grayblue: hsl(229, 6%, 66%);
    --lightgray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    background-color: var(--lightgray);
    font-size: 0.9375rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
}

/* MOBILE FIRST */

h1 {
    font-weight: 200;
}

h1, h2, h3{
    color: var(--dkblue);
}

h3 {
    font-size: 1.3rem;

}

p {
    color: var(--grayblue);
    font-size: 0.75rem;
}

.detail {
    font-size: 0.9rem;
    
}

.container {
    width: 80%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    background-color: var(--white);
    padding: 15px;

    border-radius: 5px;

}

.one {
    border-top: 3px solid var(--cyan);
}

.two {
    border-top: 3px solid var(--red);
}

.three {
    border-top: 3px solid var(--orange);
}

.four {
    border-top: 3px solid var(--blue);
}
